@media (max-width: 1000px){
  *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; 
    }
  .header, .contact_us, .service,  
  .gallery_images, .footer, .footer_contacts, .gallery_img{
    width: 100%;   
  }
  .top-nav, .logo{
    padding-right: 20px;
  }
  .service, .gallery_images, .header{
    padding: 0 20px;
  } 
  .contact_us{
    padding: 45px 20px;
  }
  .img{
    margin-right: 0;
  }
  .footer, .footer_contacts{
    padding: 20px;
  }
  .quick__links ul li{
    width: 90%;
  }
  .read_more a{
    margin-left: 135px;
  }
  .contact_button, .contact_button a{
    margin-right: 0;
  } 
  .footer_contacts{
    flex-wrap: wrap;
  }
}

@media (max-width: 855px){
  .navigation {
    font-size: 11px;
  }
  .navigation li {
    margin-right: 17px;
  }
}

@media (max-width: 804px){
  .nav{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  .logo_life {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .logo_life::first-letter {
    font-size: 62px;
  }
  .logo_bottom {
    font-size: 15px;
  }
  .input-search {
    width: 262px;
    height: 25px;
    font: 13px/16px 'Georgia', sans-serif;
    padding: 0 15px;
    margin-bottom: 34px;
  }
  .circle {
    left: 231px;
  }
  .icon-search:before {
    left: 237px;
  }
  .input-search {
    margin-bottom: 0px;
  }
  .header{
    align-items: flex-end;
    padding: 20px;
  }
  .service {
    flex-wrap: wrap;
  }
  .contact_us_text{
    margin-top: 40px;
  }
  .contact_button{
    margin-left: 10px;
  }
}

@media (max-width: 640px){
  .contact_us{
    flex-direction: column;
  }
  .contact_button{
    order: 1;
  }
  .contact_us_text{
    order: 2;
  }
  .service {
    margin-bottom: 48px;
  }
  .contact_us{
    padding: 45px 20px 10px 20px;
  }
  .header{
    flex-direction: column;
    align-items: baseline; 
    padding: 20px;
    height: 175px;
  }
  .burger-menu_button {
    right: 34px;
    top: 40px;
  }
  .gallery_img{
    justify-content: center;
  }
}

@media (max-width: 600px){
  .footer{
    flex-direction: column;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px){
  .burger-menu_button {
    right: 20px;
    top: 115px;
  }
  .contact_button{
    padding: 10px 8px;
  }  
  .blog, .quick__links,  .contact__us{
    border-bottom: 1px solid #cccc;
  } 
  .quick__links ul li:nth-last-child(1){
    border-bottom: 0;
  }
  .read_more a{
    margin-left: 227px;
    font-size: medium;
  }
}

@media (max-width: 320px){
  .contact_button, .contact_button a {
    font-size: 25px;     
  }
  .footer{
    font-size: 10px;
  }
  .read_more a{
    margin-left: 175px;
  }
}
